{% block signup %}

    <form id="sigupForm" action="{{path('_demo_signup')}}" method="post" role="form">
    	
		<div class="form-group">
			<div class="input-group ">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" id="name" name="_name" placeholder="Nombre" 
                 pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ]+[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*" required/>
            </div>
        </div>
	
        <div class="form-group">
            <div class="input-group ">
                <span class="input-group-addon"><i class="fa fa-male"></i></span>
                <input type="text" class="form-control" id="plastname" name="_plastname" placeholder="Apellido Paterno" 
                pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ]+[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*" required/>
            </div>
        </div>
        
        <div class="form-group">
            <div class="input-group ">
                <span class="input-group-addon"><i class="fa fa-female"></i></span>
                <input type="text" class="form-control" id="mlastname" name="_mlastname" placeholder="Apellido Materno"pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ]+[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*" required/>
            </div>
        </div>

        <hr>

        <div id="helper-email" class="form-group">
            <div class="input-group ">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control" id="email" name="_email" placeholder="Correo electrónico" 
                pattern="^[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required/>
                <input type="hidden" id="state-email">
           </div>
           <p id="helper"></p>
        </div>  

        <hr>

        <div class="form-group">
            <div class="input-group ">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input type="password" class="form-control" id="psw" name="_password" placeholder="Contraseña" required />
            </div>
        </div>
   
        

        <div class="form-group">
            <div class="input-group ">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input type="password" class="form-control" id="psw-re" placeholder="Repetir contraseña" required />
            </div>
        </div>
   
        
          
        <div class="modal-footer">
            <h5 id="nivelpass" class='pull-left text-danger'></h5><br>
            <h5 id="equalpass" class='pull-left text-danger'></h5>
            <button type="submit" class="btn btn-default btn-lg" id="btn" disabled="disabled"><i class="fa fa-sign-in"></i>&nbsp;Registrar</button>
        </div>


    </form>

    <script type="text/javascript">

        $('#name,#plastname,#mlastname,#email').keyup(function(){
            verificar();
        })

        $("#psw").keyup(function() {
            $('#nivelpass').html(nivelPassword($('#psw').val()));
            $('#equalpass').html(activar($('#psw').val(), $('#psw-re').val()));
        });

        $("#psw-re").keyup(function() {
            $('#equalpass').html(equalsPassword($('#psw').val(), $('#psw-re').val()));
        });

        $('#email').keyup(function(){
            $.ajax({
              url: '{{ path('_find_email') }}',
              method: "post",
              data: { 'email' : $('#email').val() },
              success: function(result){
                if(result == 0){
                    $('#helper-email').attr('class','form-group has-success');
                    $('#helper').attr('class','text-success');
                    $('#helper').html('<i class="fa fa-check"></i>&nbsp;Email disponible');
                    $('#state-email').val('0');
                    verificar();
                }else{
                    $('#helper-email').attr('class','form-group has-error');
                    $('#helper').attr('class','text-danger');
                    $('#helper').html('<i class="fa fa-times"></i>&nbsp;Email No disponible');
                    $('#state-email').val('1');
                    verificar();
                }
              }
            })
        });

        $('#btn').click(function(){
            $('#nivelpass').html('');
            $('#equalpass').html('<i class="fa fa-refresh"></i>&nbsp;Registrando Usuario');
        });


        function nivelPassword(clave){
            if(clave.length > 3){return '';}
            else {return 'Débil';}
        };


        function equalsPassword(clave1,clave2){
            if(clave1 != clave2){
                verificar();
                $('#btn').attr('disabled','disabled');
                return 'Las contraseñas no coinciden!';}
            else {
                $('#btn').removeAttr('disabled');
                verificar();
                return '';
            }
        };


        function activar(clave1,clave2){
            if(clave2.length>0){
                if(clave1 != clave2){
                    verificar();
                    $('#btn').attr('disabled','disabled');
                    return 'Las contraseñas no coinciden!';
                }
                else {
                    $('#btn').removeAttr('disabled');
                    verificar();
                    return '';
                }
            }
        };


        function verificar(){
            var name = $('#name').val().length;
            var plast = $('#plastname').val().length;
            var mlast = $('#mlastname').val().length;
            var email = $('#email').val().length;
            var email2 = $('#state-email').val();
            var pass1 = $('#psw').val().length;
            var pass2 = $('#psw-re').val().length;


            if(name>0 && plast>0 && mlast>0 && email>0 && pass1>0 && pass2>0 && email2=='0'){
                $('#btn').removeAttr('disabled');
            }else{
                $('#btn').attr('disabled','disabled');
            }
        };

    </script>

{% endblock %}


